<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= @title %></title>

    <!-- Bootstrap -->
    <link href="/vender/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <h1>(՞ةڼ◔)Mock Twitter(՞ةڼ◔)</h1>
    <% if @user != nil then %>
      <h3> You are logged in as <%= @user.name %> (@<%= @user.id %>) </h3>

      <form method="post" action="/logout">
        <div class=”form-group”>
          <input type="submit" class="btn btn-default" name="logout" value = "Logout">
        </div>
      </form>
    <% else %>
      <h3>Login Form</h3>
      <form method="post" action="/login">
        <div class=”form-group”>
          <input type="text" class=”form-control” id=”inputId″ placeholder="User ID" maxlength="15" name="userid" required>
          <input type="submit" value="Login">
        </div>
      </form>
    <% end %>

  	<h3>Tweet Form</h3>
  	<form method="post" action="/post">
      <div class=”form-group”>
  	    <input type="text" class=”form-control” id=”inputText″ placeholder=いまなにしてんの？ maxlength="140" name="tsubuyaki" required>
        <input type="submit" value="Tweet">
      </div>
  	</form>

    <h3>ツイート一覧</h3>
    <div class="container-fluid">
      <table class="table table-striped table-bordered table-condensed">
        <thead>
          <tr>
            <th>#</th>
            <th>ユーザー</th>
            <th>つぶやき内容</th>
            <th>日時</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <% @data.reverse.each do |tsubuyaki| %>
            <% s = tsubuyaki.split(",") %>
            <% num = s[0] %>
            <% user = s[1] %>
            <% text = s[2] %>
            <% date = s[3] %>

            <tr>
              <th scope="row"><%= num %></th>
              <td><%= user %></td>
              <td><%= text %></td>
              <td><%= date %></td>
              <td>
                <% userid = user[/(\(.*\))/, 1] %>
                <% if @user == nil then%>

                <% elsif @user.id == userid[2..userid.length-2] then %>
                  <form method="post" action="/delete/<%=num%>">
                    <div class=”form-group”>
                      <input type="submit" class="btn btn-default" name="delete" value = "Delete">
                    </div>
                  </form>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/vender/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
